build/
*.o
*.d
*.so
*.a
*.lo
*.la
*.dylib
*.mod
*.smod
*.cmake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
study.md
.ruff_cache/
build/
compile_commands.json
.clangd
*.db
.cache/
